body {
  background-color: blanchedalmond;
}

.container {
  border: solid 1px;
  background-color: blanchedalmond;
  margin-bottom: 10px;
}

/* Start of Header */

.header {
  border: solid 1px;
}

header {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  padding-left: 25px;
  font-size: 36px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-top: 10px;
  font-size: 20px;
}

header nav ul li {
  margin: 10px;
}

/* End of Header */

/* Start of About Section */
.container-about-primary {
  border: 1px solid;
  
}

.container-about-primary h2 {
  
  justify-content: center;
  flex-wrap: wrap;
}

.container-pic {
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.profile-pic {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.container-about {
  border: 1px solid;
  width: 100%;
  display: block;
}
/* End of About Section */

/* Start of Project Section */

.container-card {
  border: 1px solid;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.run-buddy-pic {
  border-radius: 50px;
  width: 1100px;
  height: 500px;
}

.other-projects {
  border: 1px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.other-pics {
  border-radius: 50px;
  width: 550px;
  height: 250px;
  margin: 0 auto;
}

/* End of Project Section */

/* Start of the Footer Section */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer p {
  margin: 50px 0 50px 0;
}

/* End of the Footer Section */
